{
  "bracketSpacing": true,
  "bracketSameLine": true,
  "printWidth": 120,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "arrowParens": "avoid",
  "quoteProps": "consistent"
}
