@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  color: #444444;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Ubuntu,
    "Helvetica Neue",
    sans-serif;
  background-color: #fafafa;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}

.work-item {
  // margin-bottom: 2rem;
  padding: 1rem;
  border-left: 3px solid #4f46e5; /* nice accent color */
  background: #f9fafb; /* subtle background */
  border-radius: 8px;
}

.work-item .work-location {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: #111827; /* muted gray */
  margin: 0.25rem 0 1.5rem;
}

.work-item .work-time {
  font-size: 1rem;
  color: #6b7280; /* muted gray */
  margin: 0.25rem 0 1.5rem;
}

.work-item ul {
  margin: 0.5rem 0 1rem 1.25rem;
  list-style-type: disc;
}

.work-item li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.work-item p {
  margin: 0.5rem 0;
}
